<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>导航栏</title>
    <script src="/scripts/jquery-3.3.1.min.js"></script>
    <script src="/scripts/jquery.validate.min.js"></script>
    <script src="/scripts/messages_zh.min.js"></script>
    <script src="/scripts/admin/addBookCategory.js"></script>
    <script src="/scripts/base/base.js"></script>
    <link href="/css/myUIstyle.css" rel="stylesheet" />
</head>
<body>

<div class="top">
    <div class="dropdown" style="float: right">
        <button class="dropbtn">admin</button>
        <div class="dropdown-content">
            <a href="#">功能1</a>
            <a href="#">功能2</a>
            <a href="/adminLogOut">退出</a>
        </div>

    </div>
</div>
<ul>
    <li id="click_1"><a href="#">书籍管理</a></li>
    <div class="funBackgroungColor">
        <li id="fun1" ><a href="/addBookPage">录入新书</a></li>
        <li id="fun2" style="background-color: #555;"><a href="/addCategoryPage?pageNum=1">新建类别</a></li>
        <li id="fun2" ><a href="/showBooksPage">查询书籍</a></li>
    </div>
    <li id="click_2"><a href="#">用户管理</a></li>
    <div class="funBackgroungColor">
        <li id="fun3" class="hidden"><a href="/showUsersPage?pageNum=1">查询用户</a></li>
        <li id="fun4" class="hidden"><a href="/addUserPage">新增用户</a></li>
    </div>
    <li id="click_3"><a href="#">借阅信息</a></li>
    <div class="funBackgroungColor">
        <li id="fun5" class="hidden"><a href="/allBorrowBooksRecordPage?pageNum=1">所有记录</a></li>
        <li id="fun6" class="hidden"><a href="#">个人记录</a></li>
    </div>
    <li id="click_4"><a href="#">帮助</a></li>
    <div class="funBackgroungColor">
        <li id="fun7" class="hidden"><a href="#">功能7</a></li>
        <li id="fun8" class="hidden"><a href="#">功能8</a></li>
    </div>
</ul>

<div style="margin-left:18%;padding:1px 16px;">
    <div style="float: left;width: 50%;height: 100%"><!--左半部分-->
        <h3 style="text-align: left">新建类别</h3>
        <!-- 编号输入 bug category id 作为外键不能自动递增 -->
        <br><br>
        <form id="addBookCategoryForm" >
            <label>编号</label><br>
            <input id="categoryId" type="text" name="categoryId"><br>
            <label>类别</label><br>
            <input id="categoryName" type="text" name="categoryName"><br><br>
            <input name="pageNum" value="1" style="display: none">
            <input type="submit" id="btn_addBookCategory" value="添加类别"></input>
            <!--<input id="btn_addBookCategory" type="submit" value="添加类别">-->
        </form>
    </div>
    <div style="float: left;width: 50%;height: 100%"><!--右半部分-->
        <h3>已有类别</h3>
        <table>
            <tr>
                <th>类别编号</th>
                <th>类别名称</th>
                <th>操作</th>
            </tr>
            <tr th:each="bookCategory:${page.getList()}">
                <td><label th:text="${bookCategory.getCategoryId()}"></label></td>
                <td><label th:text="${bookCategory.getCategoryName()}"></label></td>
                <td><button id="btn_deleteCategory" th:value="${bookCategory.getCategoryId()}">删除</button></td>
            </tr>
        </table>
        <br><br>
        <div style="position:absolute;right: 110px ">
            <label id="lab1" th:text="${page.getPageNum()}"></label>/<label id="lab2" th:text="${page.getPageCount()}"></label>
        </div>

        <a id="prePage" href="/addCategoryPage?pageNum=1" th:href="@{/addCategoryPage(pageNum=${page.getPageNum()-1})}" style="position: absolute; right: 140px;background-color: #aaaaaa">上一页</a>
        <a id="nextPage" href="/addCategoryPage?pageNum=2" th:href="@{/addCategoryPage(pageNum=${page.getPageNum()+1})}" style="position: absolute; right: 60px;background-color: #aaaaaa">下一页</a>
    </div>

</div>
</body>
</html>

