<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <script th:src="@{/scripts/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/scripts/jquery.validate.min.js}"></script>
    <script th:src="@{/scripts/messages_zh.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/login/style.css}" href="css/style.css">
<style>
    a:link{text-decoration: none;color: #007fff}
    a:hover{font-size: 150%}
</style>

</head>

<body>

<div class="page">
    <div class="container">
        <div class="left">
            <div class="login">Login</div>
            <div class="eula">图书管理系统  管理员登录<br>
                <a th:href="@{/}">用户登陆</a>
            </div>
        </div>
        <div class="right">
            <svg viewBox="0 0 320 300">
                <defs>
                    <linearGradient
                            inkscape:collect="always"
                            id="linearGradient"
                            x1="13"
                            y1="193.49992"
                            x2="307"
                            y2="193.49992"
                            gradientUnits="userSpaceOnUse">
                        <stop
                                style="stop-color:#ff00ff;"
                                offset="0"
                                id="stop876" />
                        <stop
                                style="stop-color:#ff0000;"
                                offset="1"
                                id="stop878" />
                    </linearGradient>
                </defs>
                <path d="m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" />
            </svg>
            <div class="form">
                <form id="adminLoginForm" action="/adminLogin">
                    <label for="adminName">AdminName</label>
                    <input type="txet" id="adminName" name="adminName">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                    <input type="submit" id="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>


</body>
<script th:src="@{/scripts/admin/login.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js}" ></script>
</html>